.product-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* default: 1 column */
  gap: 1rem; /* spacing between items */
}


.product-item {
    position: relative;
    padding: 16px;
    background: #FFFFFF;
    border: 1px solid #FBFBFB;
    box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    margin-bottom: 30px;
    transition: box-shadow 0.3s ease-out;
}

.product-item:hover {
  box-shadow: 0px 21px 44px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.15);
}

.product-item .btn-wishlist-hyped
{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(240, 56, 56);
    border: 1px solid #d8d8d8;
    transition: all 0.3s ease-out;
}

.product-item .btn-wishlist {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 1px solid #d8d8d8;
    transition: all 0.3s ease-out;
}

.product-item .btn-wishlist:hover {
  background: rgb(240, 56, 56);
  color: #fff;
}



.product-item figure {
    background: #F9F9F9;
    border-radius: 12px;
    text-align: center;
}

.product-item figure img {
    max-height: 210px;
    height: auto;
}

.product-item h3 {
    display: block;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    color: #333333;
    margin: 0;
    font-family: var(--heading-font);
}

.product-item .qty {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #9D9D9D;
}

.product-item .rating {
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-transform: capitalize;
    color: #222222;
}

.product-item .price {
    display: block;
    width: 100%;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    text-transform: capitalize;
    color: #222222;
}

.product-item .product-qty {
    width: 85px;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.product-item .btn-number {
    width: 26px;
    height: 26px;
    line-height: 1;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    border-radius: 6px;
    color: #222;
    padding: 0;
}

.product-item #quantity {
    height: auto;
    width: 28px;
    text-align: center;
    border: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.thumbsdown
{
    transform: scaleX(-1);
}


/* Media query */



@media (min-width: 576px) {
    .row-cols-sm-2>* {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media (min-width: 768px) {
    .row-cols-md-3>* {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
}





@media (min-width: 576px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }
}

@media (min-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
  }
}

@media (min-width: 992px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
  }
}

@media (min-width: 1200px) {
  .product-grid {
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
  }
}
