<div class="tabs-header d-flex justify-content-between border-bottom my-5 items-title">
    <h3 style="font-weight: 700; color: black">Trending Products</h3>
    <nav class="Navigation-Link">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a href="#" class="nav-link text-uppercase fs-6 active" id="nav-all-tab" data-bs-toggle="tab" data-bs-target="#nav-all" aria-selected="true" role="tab">All</a>
            <a href="#" class="nav-link text-uppercase fs-6" id="nav-fruits-tab" data-bs-toggle="tab" data-bs-target="#nav-fruits" aria-selected="false" role="tab" tabindex="-1">Fruits &amp; Veges</a>
            <a href="#" class="nav-link text-uppercase fs-6" id="nav-juices-tab" data-bs-toggle="tab" data-bs-target="#nav-juices" aria-selected="false" role="tab" tabindex="-1">Juices</a>
        </div>
    </nav>
</div>