@media screen and (max-width: 991px) {
    .image-float {
        margin: 0;
    }
}

.image-float {
    margin-top: -140px;
    margin-bottom: -140px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}