

<!-- <div class="col-md-6"> -->
  <div class="banner-ad bg-danger mb-3" [style.background-image]="'url(' + CallConnection.image + ')'" [style.background-repeat]="'no-repeat'" [style.background-position]="'right bottom'" [style.background-color]="CallConnection.bgcolor">
    <div class="banner-content p-5">
      <div class="categories text-primary fs-3 fw-bold">{{CallConnection.title}}</div>
      <h3 class="banner-title">{{CallConnection.name}}</h3>
      <p>{{CallConnection.description}}</p>
      <a href="#" class="btn btn-dark text-uppercase">{{CallConnection.button}}</a>
    </div>
  </div>
<!-- </div> -->
