<!-- <div class="row"> -->
    <div class="col-md-18"> 
      <div class="category-carousel swiper">
        <div class="swiper-wrapper slider-components">
          <a href="index.html" class="nav-link category-item swiper-slide">
            <img src="assets/images/icon-vegetables-broccoli.png" alt="Category Thumbnail">
            <h3 class="category-title">Fruits & Veges</h3>
          </a>
          <a href="index.html" class="nav-link category-item swiper-slide">
            <img src="assets/images/icon-bread-baguette.png" alt="Category Thumbnail">
            <h3 class="category-title">Breads & Sweets</h3>
          </a>
          <a href="index.html" class="nav-link category-item swiper-slide">
            <img src="assets/images/icon-soft-drinks-bottle.png" alt="Category Thumbnail">
            <h3 class="category-title">Fruits & Veges</h3>
          </a>

          
          <a href="index.html" class="nav-link category-item swiper-slide">
            <img src="assets/images/icon-wine-glass-bottle.png" alt="Category Thumbnail">
            <h3 class="category-title">Fruits & Veges</h3>
          </a>
          <a href="index.html" class="nav-link category-item swiper-slide">
            <img src="assets/images/icon-animal-products-drumsticks.png" alt="Category Thumbnail">
            <h3 class="category-title">Fruits & Veges</h3>
          </a>
          <a href="index.html" class="nav-link category-item swiper-slide">
            <img src="assets/images/icon-bread-herb-flour.png" alt="Category Thumbnail">
            <h3 class="category-title">Fruits & Veges</h3>
          </a>

          <a href="index.html" class="nav-link category-item swiper-slide">
            <img src="assets/images/icon-bread-herb-flour.png" alt="Category Thumbnail">
            <h3 class="category-title">Fruits & Veges</h3>
          </a>
        
        </div>
    </div>
    </div>
<!-- </div> -->
