<!-- <div class="row"> -->
    <div class="col-md-12 carousel-class">
      <div class="section-header d-flex flex-wrap justify-content-between mb-5">
        <h3 class="section-title category-title">Category</h3>
        <div class="d-flex align-items-center slider-class">
          <div class="swiper-buttons">
            <button class="swiper-prev category-carousel-prev btn btn-yellow">❮</button>
            <button class="swiper-next category-carousel-next btn btn-yellow">❯</button>
          </div>
        </div>
      </div>  
    </div>
<!-- </div> -->