<!-- <div class="swiper-slide"> -->
    <div class="row banner-content p-5">
        <div class="content-wrapper col-md-7">
            <div class="categories my-3">{{Top}}</div>
            <h3 class="display-4">{{Center}}</h3>
            <p>{{epCenter}}</p>
            <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1 px-4 py-3 mt-3">{{BtnContent}}</a>
        </div>
        <div class="img-wrapper col-md-5">
            <img src="assets/images/product-thumb-1.png" class="img-fluid">
        </div>
    </div>
<!-- </div> -->