@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

.categories {
  font-family: "EB Garamond", serif;
  font-size: 37px;
  text-transform: capitalize;
  color: var(--dark-color);
}
.sale {
  position: relative;
  display: inline-block;
}
.sale:before {
  content: '';
  width: 80px;
  border-bottom: 1px solid #111;
  position: absolute;
  bottom: 6px;
}
.sale:after {
  content: 'SALE';
  font-family: var(--body-font);
  position: absolute;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #252525;
  bottom: 0;
  right: 0;
}

/* .banner-ad .banner-content .banner-title {
  letter-spacing: 0.02em;
  font-size: 33px;
} */

.banner-content .banner-title {
  color: black;
  font-weight: bold;
}



.banner-ad.large .banner-content .categories {
  color: var(--accent-color);
}
.banner-ad.large .banner-content .banner-title {
  font-size: 54px;
}
